/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face { font-family: ApercuMedium; src: url('fonts/Apercu-Medium.otf'); }
@font-face { font-family: ApercuLight; src: url('fonts/Apercu-Light.otf'); }
@font-face { font-family: CentSchlbkItalic; src: url('fonts/CenturySchoolbookStd-Italic.otf'); }

html,body{
	overflow-x:hidden;
}

div.header{
	background-color:#0084b7;
	position:relative;
	height: 95vh;
	background-image: url("img/header_placeholder.jpg");
	background-blend-mode:overlay;
	background-size: cover;
}

div#nexusScreens{
	position:inherit;
	display: block;
	margin:auto;
	width: 100%;
	z-index: 2;
}
div#slideShow{
	padding-top:20vh;
}

div.footer{
	clear:both;
	background:#2196F3;
	display:block;
	float:left;
	width:100%;
}

em{
	font-family: ApercuMedium;
}

h1{
	clear: right;
	margin-left: 55%;
	font-family: ApercuMedium;	
	font-size: 2em;
	color: #FFF;
	line-height: 1.5em;
	position: relative;
  	top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 35%;
}

img#trypodWhiteLogo{
	height:35px;
}

img#nexus{
	display: block;
	margin: auto;
	margin-top: -72vh;
	margin-bottom: 10vh;
	height:75vh;
	background-color: rgba(0,0,0,0);
	z-index: 1;
	position:relative;
}

img.screen{
	height:62vh;
	display: block;
	margin: auto;
}

li.category{
	padding: 1.5em;
	display: table;
	border-top: 4px solid rgba(255,255,255,0);
	color:#FFF;
	font-family: ApercuLight;
}
li.logo {
	padding: 1em;
	float:left;
}
li.category {
	float:right;
}
li.footerContent {
	float:left;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:3em;
	padding-top:3em;
	display: table;
	color:#FFF;
	font-family: ApercuLight;
}
li.category:hover{
	border-top: 4px solid rgba(255,255,255,.5);
}
li.category:active{
	border-top: 4px solid rgba(255,255,255,.8);
}

p.screenDescription{
	position:inherit;
	float:left;
	margin-left: 67.5vw;
	display: block;	
	margin-top: -57.5vh;
	font-family: ApercuLight;
	max-width: 20vw;		
}

ul{
	padding-right: 5vw;
	padding-left: 5vw;
}






