/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face { font-family: ApercuMedium; src: url('fonts/Apercu-Medium.otf'); }
@font-face { font-family: ApercuLight; src: url('fonts/Apercu-Light.otf'); }
@font-face { font-family: CentSchlbkItalic; src: url('fonts/CenturySchoolbookStd-Italic.otf'); }

html,body{
	overflow-x:hidden;
}

a {
	color:#FFF;
	text-decoration: none;
	font-family: ApercuLight;
}

a.link{
	color:#2196F3;
}

a.button{
	color:#2196F3;
	font-family: ApercuLight;
	text-decoration: none;
	-moz-border-radius: .5em;
 	-webkit-border-radius: .5em;
  	border: 2px solid #2196F3;
  	padding: 1em;
}

a.button:hover{
	background-color:#2196F3;
	color:#FFF;
	font-family: ApercuLight;
	cursor: pointer;
	transition-duration: .5s;
}

div.header{
	height: 95vh;
	background-image: url("img/gloryshot3.png");
	background-blend-mode:overlay;
	background-size: cover;
}

div#nexusScreens{
	position:inherit;
	display: block;
	margin:auto;
	width: 100%;
	z-index: 2;
}

div.footer{
	clear:both;
	background:#2196F3;
	display:block;
	float:left;
	width:100%;
	margin-top: 20vh;
	padding-left: 10vw;
}

div.white{
	height:100%;
	width: 100%;
	background-color: white;
	position: absolute;
	padding-top: 20vh;
}

em{
	font-family: ApercuMedium;
}

h1{
	clear: right;
	font-family: ApercuMedium;	
	font-size: 3em;
	line-height: 1.5em;
	position: relative;
  	top: 40%;
    /*background-color: rgba(100,165,250,.2);*/
}

h1#header{
	margin-left: 60%;

    max-width: 35%;
    color: #FFF;
}

h1#about{
	margin-top: 20vh;
	margin-bottom: 10vh;
	padding: 0;
	text-align: center;
}

h1#imgAbove{
	margin-top: 10vh;
	margin-bottom: 1em;
	padding: 0;
	text-align: center;
}

img.screen{
	height:62vh;
	display: block;
	margin: auto;
}

img#aboutImg{
	margin-top:20vh;
	height:25vh;
}

img#device{
	margin-top:20vh;
	height:25vh;
	height: 50vh;
}

img#trypodWhiteLogo{
	padding-top: 4px;
	height:35px;
}

img#whoFor{
	height: 25vh;
	margin-bottom: 10vh;
}

img#nexus{
	display: block;
	margin: auto;
	margin-top: -73vh;
	margin-bottom: 10vh;
	height:75vh;
	background-color: rgba(0,0,0,0);
	z-index: 1;
	position:relative;
}

img#getStartedOverview{
	height:25vh;
	padding-top: 20vh;
}

img#printedParts{
	padding-top: 20vh;
	height:25vh;
}

li{
	line-height: 1.75em;
	font-family: ApercuLight;
}


li.category{
	padding: 1.5em;
	display: table;
	border-top: 4px solid rgba(255,255,255,0);
	color:#FFF;
	font-family: ApercuLight;
	float:right;
}

li.logo {
	padding: 1em;
	float:left;
}

li.footerContent {
	float:left;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom:3em;
	padding-top:3em;
	display: table;
	color:#FFF;
	font-family: ApercuLight;
	line-height: 1.75em;
}
li.floatCategory:hover{
	border-top: 4px solid rgba(255,255,255,.5);
}
li.floatCategory:active{
	border-top: 4px solid rgba(255,255,255,.8);
}


li.floatCategory{
	float:right;
	padding: 1.5em;
	border-top: 4px solid rgba(255,255,255,0);
	color:#FFF;
	font-family: ApercuLight;
}

li ul {
	margin-top: 1.5em;
	margin-left: -1.5em;
	position: absolute;
	float: none;
	width: inherit;
	padding-bottom: 1em;
}

li ul li {
	display: none;
	border-left: 4px solid rgba(255,255,255,0);
	padding-left:1.5em;
	padding-right:1.5em;
}

li ul li:hover {
	display: none;
	border-left: 4px solid rgba(255,255,255,.5);
}

li:hover  ul li{
	display: block;
}

p{
	font-family: ApercuLight;
	line-height: 1.75em;
}

p.screenDescription{
	position:inherit;
	float:left;
	margin-left: 67.5vw;
	display: block;	
	margin-top: -57.5vh;
	max-width: 20vw;		
}

p.description{
	max-width: 60%;
	text-align: left;
	margin-left: 23vw;
	margin-right: 20vw;
}

ul#nav{
	padding-right: 5vw;
	padding-left: 5vw;
	width: 90vw;
	position:absolute;
	clear:both;
	z-index: 3;
}

ul#internetList{
	display: none;
	margin-left: 23vw;
	margin-top: 10vh;
}

input[type="button"] {
    font-family: ApercuLight;
	line-height: 1.75em;
	font-size: 1em;
}

.EDGE-418283999{

}
